
* {
    box-sizing: border-box ;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.row::after,
.row::before,
.clearFix::after,
.clearFix::before {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 1000px;
    margin: 0 auto;
}


/*-----HEADER-----*/

.site-header {
    background-color: black;
}

.logo-header {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    float: left;
    width: 50%;
    padding: 12px 0 12px 0;
    letter-spacing: 1px;
}

.logo-header span {
    color: #24BA9F;
    font-weight: 900;
}

nav {
    float: left;
    width: 50%;
    text-align: right;
}

.navBar {
    display: table;
    width: 600px;
    margin: auto;
    padding-left: 160px;
}

li {
    display: table-cell;
    padding: 12px 0 12px 0;
}

li a {
    color: #FFFFFF;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav > ul {
    position: relative;
}

header nav > ul > li {
    float: left;
    padding: 10px 25px;
}

header nav > ul > li:hover .dropDown {
    display: block;
}

header nav ul.dropDown {
    position: absolute;
    display: none;
    padding-top: 20px;
}

header nav ul.dropDown a {
    color: #FFFFFF;
    display: block;
    text-align: left;
    background-color: black;
    letter-spacing: normal;
}

header nav ul.dropDown li:last-child {
    padding-bottom: 10px;
}

.dropDown li {
    display: block;
    padding: 10px 20px 0 10px;
    background-color: #000000;
}

.triangle {
    position: absolute;
    top: 10px;
    margin-left: 30px;
    border-style: solid;
    border-width: 0 8px 12px 8px;
    border-color: transparent transparent #000000 transparent;
}

/*-----SECTION ONE-----*/

.section-one {
    background: rgba(250, 250, 250, 1);
    background: -moz-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(243, 243, 243, 1) 67%, rgba(208, 207, 215, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250, 250, 250, 1)), color-stop(67%, rgba(243, 243, 243, 1)), color-stop(100%, rgba(208, 207, 215, 1)));
    background: -webkit-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(243, 243, 243, 1) 67%, rgba(208, 207, 215, 1) 100%);
    background: -o-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(243, 243, 243, 1) 67%, rgba(208, 207, 215, 1) 100%);
    background: -ms-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(243, 243, 243, 1) 67%, rgba(208, 207, 215, 1) 100%);
    background: linear-gradient(to bottom, rgba(250, 250, 250, 1) 0%, rgba(243, 243, 243, 1) 67%, rgba(208, 207, 215, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#d0cfd7', GradientType=0);
}

.arrow-left {
    float: left;
    height: 450px;
    width: 25px;
    color: #24BA9F;
    font-size: 60px;
    padding: 195px 0 0 0;
}

.arrow-right {
    float: right;
    height: 450px;
    width: 25px;
    color: #24BA9F;
    font-size: 60px;
    padding: 195px 0 0 0;
}

.chair {
    float: left;
    width: 470px;
    padding-top: 80px;
}

.section-one-description {
    float: left;
    width: 478px;
    padding-right: 100px;
    padding-top: 130px;
}

.headline {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.headline span {
    color: #24BA9F;
    font-weight: 700;
}

.content {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 20px;
}

.section-one-button {
    width: 218px;
    height: 44px;
    color: #FFFFFF;
    background-color: #24BA9F;
    text-align: center;
    margin-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
    float: left;
}


/*-----SECTION TWO-----*/

div[class^="box"] {
    width: 320px;
    font-size: 13px;
    float: left;
}

.opacity {
    position: absolute;
    top: 20px;
    left: 0;
    height: 219px;
    width: 320px;
    clip: rect(125px, 320px, 185px, 2px);
    opacity: 0.4;
}

.box-one {
    background-image: url(../images/box1_img.jpg);
    background-size: contain;
    margin-right: 20px;
    height: 219px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.box-two {
    background-image: url(../images/box2_img.jpg);
    background-size: contain;
    margin-right: 20px;
    height: 219px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.box-three {
    border: 1px solid #C0C0C0;
    height: 250px;
    padding: 25px;
    line-height: 1.4;
    margin-top: 20px;
    font-weight: 200;
}

.section-one-underline-one {
    width: 130px;
    height: 7px;
    background-color: #24BA9F;
}

.section-one-underline-two{
    width: 130px;
    height: 7px;
    background-color: #24BA9F;
    margin: 0 0 20px 0;
}

.section-two h3 {
    margin: 0;
}

.image-description {
    background: rgba(255, 255, 255, 0.4);
    margin-top: 145px;
    padding: 14px 0 22px 14px;
    vertical-align: middle;
}


/*-----SECTION THREE-----*/

.section-three {
    background-color: #F1F1F1;
    margin-top: 60px;
}

.section-title {
    margin-top: 40px;
    margin-bottom: 20px;
}

.section-title span {
    font-size: 20px;
    font-weight: bold;
}

.section-three-underline {
    width: 310px;
    height: 7px;
    background-color: #24BA9F;
    margin-top: 5px;
}

.layout-3 {
    margin-bottom: 70px;
    margin-top: 70px;
}

div[class^="sticker"] {
    width: 320px;
    height: 520px;
    text-align: center;
    position: relative;
    float: left;
    padding-left: 1px;
}

.sticker-one {
    border: 2px solid #C0C0C0;
    background-color: #F9F9F9;
    margin: auto 20px auto auto;
}

.sticker-two {
    border: 2px solid #24BA9F;
    background-color: #24BA9F;
    margin: auto 20px auto auto;
}

.sticker-three {
    border: 2px solid #C0C0C0;
    background-color: #F9F9F9;
    margin: auto;
}

div[class^="circle-small"] {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: -20px;
    left: 148px;
}

.circle-small-one {
    background-color: #C0C0C0;
}

.circle-small-two {
    background-color: #FFFFFF;
}

div[class^="circle-big"] {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: -36px;
    left: 132px;
}

.circle-big-one {
    background-color: #FFFFFF;
    border: 2px solid #C0C0C0;
}

.circle-big-two {
    background-color: #24BA9F;
}

.plan {
    color: #FFFFFF;
    font-size: 25px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    top: 20px;
}

.sticker-one .plan,.sticker-three .plan {
    color: #24BA9F;
}

.circle-price {
    background-color: #FFFFFF;
    width: 126px;
    height: 126px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

.circle-price p {
    font-weight: bold;
    vertical-align: middle;
    color: #24BA9F;
    font-size: 40px;
    margin: 25px 0 5px 0;
    letter-spacing: -1px;
    word-spacing: -6px;
    padding-left: 10px;
}

.circle-price p sup {
    font-weight: bold;
    vertical-align: super;
    font-size: 15px;
    position: relative;
    top: -8px;
    color: inherit;
}

.circle-price span {
    color: #24BA9F;
    font-size: 17px;
    font-weight: bold;
}

.sticker-one .circle-price {
    border: 2px solid #C0C0C0;
}

.sticker-one .circle-price p {
     color: #C0C0C0;
}

.sticker-one .circle-price span {
    color: #C0C0C0;
}

.sticker-three .circle-price {
    border: 2px solid #C0C0C0;
}

.sticker-three .circle-price p {
    color: #C0C0C0;
}

.sticker-three .circle-price span {
    color: #C0C0C0;
}

div[class^="description"]{
    height: 44px;
    width: 315px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    position: relative;
    top:250px;
    font-size: 25px;
    line-height: 44px;
}
.description-one {
    background-color: #E4E4E4;
    color: #848484;
}

.description-two {
    background-color: #F1F1F1;
    color: #848484;
}

.description-three {
    background-color: #FFFFFF;
    color: #848484;
}

.description-four {
    background-color: #F1F1F1;
    color: #848484;
}

.section-three-button {
    height: 40px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    position: absolute;
    top: 450px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 40px;
    color: #FFFFFF;
    background-color: #24BA9F;
    border-radius: 10px;
}

.sticker-two .description-one {
    background-color: #FFFFFF;
}

.sticker-two .section-three-button {
    background-color: #FFFFFF;
    color: #24BA9F;
}


/*-----SECTION FOUR-----*/

form {
    width: 600px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
}

.form-right {
    padding-left: 60px;
    width: 400px;
}

.form-group {
    margin-bottom: 1em;
}

input, textarea {
    display: block;
    height: 66px;
    width: 100%;
    padding: 10px;
    margin-top: auto;
    color:  #24BA9F;
    border: 1px solid #24BA9F;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
}

textarea {
    resize: none;
    height: 190px;
}

input:focus, textarea:focus {
    outline-color: #24BA9F;

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  lightgrey;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    lightgrey;
    opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:   lightgrey;
    opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    lightgrey;
}

:-ms-input-placeholder { /* Microsoft Edge */
    color:   lightgrey;
}

.column-chair {
    width: 400px;
    float: left;
}

.column-chair img {
    padding-left: 80px;
}

input[type=checkbox] {
    height: 1px;
    width: 1px;
    margin: 0;
}

.check-box1 {
    height: 48px;
    width: 48px;
    float: left;
}

.check-box1 input:before {
    height: 48px;
    width: 48px;
    float: left;
    border: 1px solid #24BA9F;
    display: block;
    background: #ffffff;
    content: '';
}

.check-box1 input:checked:before {
    width: 48px;
    height: 48px;
    background : url("../images/form_ok.jpg");
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 1px #156f5f;

}

.check-box2 {
    height: 60px;
    width: 285px;
    float: left;
    padding-top: 3px;
    padding-left: 2px;
    color: #A9A9A9;
    font-size: 19px;
    margin-left: 7px;
}

.submit {
    height: 64px;
    width: 340px;
    color: #FFFFFF;
    background-color: #24BA9F;
    float: left;
    border-radius: 10px;
    font-weight: 800;
    cursor: pointer;
}

.submit:hover {
    color: #24BA9F;
    background-color: pink;
    border: 1px solid pink;
}


/*-----FOOTER-----*/

.layout-footer {
    margin-top: 40px;
    margin-bottom: 20px;
}

.trademark {
    float: left;
    width: 600px;
    padding-top: 10px;
    color: #A9A9A9;
}

.socialMedia {
    float: left;
    width: 250px;
    padding-left: 60px;
}

.logo-footer {
    float: left;
    width: 150px;
    padding-top: 10px;
    font-size: 20px;
    color: #A9A9A9;
    text-align: right;
}