//-----HEADER-----//

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

header {
  &.site-header {
    @extend %clear-fix;
    background-color: $black;
  }

  > .container {
    @extend %container;

    > .layout-2-col {
      @extend %clear-fix;
      display: flex;
    }
  }
}

div {
  &.logo-header {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 0;
    width: 50%;
  }

  > a {
    color: $white;
    display: inline-flex;
    text-decoration: none;

    > span {
      color: $jungle-green;
      font-weight: 900;
    }
  }
}

nav {
  &[role=navigation] {
    width: 50%;
  }

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    &.nav-bar {
      display: flex;
      margin: auto;
      padding-left: 160px;
      width: 600px;
    }
  }
}

.nav-bar {
  li {
    padding: 10px 25px;

    &:hover {

      > ul {
        &.drop-down {
          display: block;
        }
      }
    }

    > a {
      color: $white;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1px;
      text-align: right;
      text-decoration: none;
    }

    > ul {
      list-style: none;
      margin: 0;
      padding: 0;

      &.drop-down {
        display: none;
        padding-top: 20px;
        position: absolute;
      }

      > div {
        &.triangle {
          border-color: transparent transparent $black;
          border-style: solid;
          border-width: 0 8px 12px;
          margin-left: 30px;
          position: absolute;
          top: 10px;
        }
      }

      > li {
        background-color: $black;
        display: block;
        padding: 10px 20px 0 10px;

        &:last-child {
          padding-bottom: 10px;
        }

        > a {
          background-color: $black;
          color: $white;
          display: block;
          letter-spacing: normal;
          text-align: left;
        }
      }
    }
  }
}
