section {
  &.section-four {
    @extend %clear-fix;
    background-color: #F1F1F1;
  }
  > div {
    &.container-section-four {
      @extend %container;
    }
  }
}

div {
  &.flex{
    display: flex;
  }
}

img{
  &.section-four-img{
    display: block;
    margin: 80px auto 0;
  }
}


div {
  &.section-title-four-left {
    @extend %section-title;
    margin-bottom: 20px;
    > div {
      &.section-underline-four {
        @extend %section-underline;
      }
    }
  }
  &.section-title-four-right {
    @extend %section-title;
    margin-bottom: 20px;
    > div {
      &.section-underline-four {
        @extend %section-underline;
      }
    }
  }
  > span {
    &.section-title__text-left {
      @extend %section-title__text;
    }
    &.section-title__text-right {
      @extend %section-title__text;
    }
  }
}

  /* DROPDOWN */

div {
  &.compose-dropdown-one {
    @extend %dropdown;
  }
  &.compose-dropdown-two {
    @extend %dropdown;
  }
  &.compose-dropdown-three {
    @extend %dropdown;
  }
  > button {
    &.btn {
      height: 55px;
      width: 90%;
      margin: 0 auto;
      line-height: 55px;
      background-color: white;
      cursor: pointer;
      border: 1px solid #24BA9F;
      color: lightgrey;
      font-size: 25px;
      font-family: 'Raleway', sans-serif;
      display: flex;
      justify-content: space-between;
    }
    &:focus {
      outline-color: #24BA9F;
    }
  }
  > ul {
    &.dropdown-menu {
      padding: 1px 6px;
      border: 1px solid lightgrey;
      width: 90%;
      position: relative;
      margin: 0 auto;
      background-color: white;
    }
    &.dropdown-menu-one {
      z-index: 4;
    }
    &.dropdown-menu-two {
      z-index: 3;
    }
    &.dropdown-menu-three {
      z-index: 2;
    }
    > li {
      letter-spacing: 1px;
      list-style: none;
      line-height: 25px;
      justify-content: flex-start;
      > a {
        text-decoration: none;
        color: initial;
      }
    }
  }
}

div {
  &.compose-check-box2 {
    color: #A9A9A9;
    font-size: 30px;
    line-height: 60px;
    height: 60px;
  }
}

div {
  &.summary {
    width: 90%;
    height: 205px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 0 auto;
  }
  > ul {
    &.summary-ul-one {
      padding-top: 6px;
      padding-left: 6px;
      width: 70%;
      height: 145px;
      background-color: white;
      margin: 0;
      border-right: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
    }
    &.summary-ul-two {
      padding-left: 6px;
      width: 30%;
      height: 145px;
      background-color: white;
      margin: 0;
      border-bottom: 1px solid lightgrey;
    }
    > li {
      &#chair {
        @extend %summary-line-one;
        color: #24BA9F;
        font-size: 22px;
        > a {
          color: inherit;
        }
      }
      &#chair2 {
        @extend %summary-line-two;
        color: #24BA9F;
        font-size: 22px;
        > a {
          color: inherit;
        }
      }
      &#color {
        @extend %summary-line-one;
      }
      &#color2 {
        @extend %summary-line-two;
      }
      &#fabric {
        @extend %summary-line-one;
      }
      &#fabric2 {
        @extend %summary-line-two;
      }
      &#transport {
        @extend %summary-line-one;
      }
      &#transport2 {
        @extend %summary-line-two;
      }
    }
  }
  > div {
    &.summary-div-one {
      height: 40px;
      width: 70%;
      line-height: 40px;
      font-size: 25px;
      padding-left: 6px;
    }
    &.summary-div-two {
      height: 40px;
      width: 30%;
      line-height: 40px;
      font-size: 25px;
      padding-right: 6px;
      text-align: right;
    }
  }
}

input.summary-submit{
  background-color: #24BA9F;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 800;
  @extend %input;
  font-size: 30px;
  height: 64px;
  &:hover {
    background-color: pink;
    border: 1px solid pink;
    color: #24BA9F;
  }
}


@media all and (min-width: 981px) {

  div.section-title-four-right {
    text-align: end;
  }

  div.section-title-four-left {
    text-align: start;
  }

  div.grid-container-four {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 40px;
    display: grid;
  }

  div.compose-one {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  div.flex {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  input.transport {
    margin: 0 77px 47px 0;
  }

  div.compose-two {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  div.compose-three {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  input.summary-submit {
    margin: 50px auto 40px auto;
    width: 290px;
  }
}

@media all and (max-width: 980px){

  div.grid-container-four {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  div.compose-one {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  div.section-underline-four {
    width: 310px;
    margin: 0 auto;
  }

  div.compose-two {
    display: none;
  }

  div.compose-three {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  div.section-title-four-left {
    text-align: center;
  }

  div.section-title-four-right {
    text-align: center;
  }

  input.summary-submit {
    margin: 50px auto 20px auto;
    width: 285px;
  }

  div.flex {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  input.transport {
    margin: 0 77px 47px 0;
  }
}

@media all and (max-width: 736px) {

  div.grid-container-four {
    grid-template-columns: 1fr;
    display: grid;
  }

  div.compose-one {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
  }

  div.section-title-four-left {
    text-align: center;
  }

  div.flex {
    justify-content: center;
    align-items: center;
  }

  input.transport {
    margin: 0 77px 47px 0;
  }

  div.compose-two {
    display: none;
  }

  div.compose-three {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  div.section-title-four-right {
    text-align: center;
  }

  label.summary-submit {
    justify-content: center;
  }

  input.summary-submit {
    width: 250px;
    margin: 20px 0 20px 0
  }
}


@media all and (max-width: 480px) {

  div.grid-container-four {
    grid-template-columns: 1fr;
    display: grid;
  }

  div.compose-one {
    grid-column: 1/2;
    grid-row: 1/2;
  }


  div.compose-two {
    display: none;
  }

  label.summary-submit {
    justify-content: center;
  }

  input.summary-submit {
    width: 250px;
    margin: 20px 0 20px 0
  }
}
