section {
  &.section-two {
    @extend %clear-fix;
  }

  > div {
    &.container {
      @extend %clear-fix;
      @extend %container;
    }
  }
}

div {
  &.box-one {
    @include box(box1);
  }

  &.box-two {
    @include box(box2);
  }

  > div {
    &.image-description {
      @extend %image-description;
    }

    > h3 {
      margin: 0;
    }

    > div {
      &.section-one-underline-one {
        @extend %section-one-underline;
      }
    }
  }
}

div {
  &.box-three {
    border: 1px solid $silver;
    font-size: 13px;
    font-weight: 200;
    line-height: 1.4;
    padding: 25px;
    width: 100%;
  }

  > div {
    &.section-one-underline-two {
      @extend %section-one-underline;
      margin: 0 0 20px;
    }
  }
}

@media all and (min-width: 991px) {
  .grid-container-two {
    grid-column-gap: 20px;
    grid-template-columns: 320px 320px 320px;
  }

  .box-one {
    align-self: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 2;
    margin: 20px 0 auto;
  }

  .box-two {
    align-self: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2 / 3;
    margin: 20px 0 auto;
  }

  .box-three {
    align-self: center;
    grid-column: 3 / 4;
    margin: 20px auto 40px;
  }

  .image-description {
    margin: 0 auto;
    width: 320px;
  }
}

@media all and (max-width: 990px) {
  .grid-container-two {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 320px 320px 1fr;
  }

  .box-one {
    align-self: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 10px 0 auto;
  }

  .box-two {
    align-self: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin: 10px 0 auto;
  }

  .box-three {
    align-self: center;
    grid-column-end: 4;
    grid-column-start: 2;
    grid-row: 2 / 3;
    margin: 0 auto 10px;
  }

  .image-description {
    margin: 0 auto;
    width: 329px;
  }
}

@media all and (max-width: 736px) {
  .grid-container-two {
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
  }

  div {
    &.box-one {
      align-self: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column-end: 2;
      grid-column-start: 1;
      grid-row: 1 / 2;
      margin: 10px 0 auto;
    }

    &.box-two {
      align-self: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column-end: 2;
      grid-column-start: 1;
      grid-row: 2 / 3;
      margin: 0 auto;
    }

    &.box-three {
      align-self: center;
      grid-column-end: 2;
      grid-column-start: 1;
      grid-row: 3 / 4;
      margin: 0 auto;
    }
  }

  .image-description {
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  .grid-container-two {
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
  }

  div {
    &.box-one {
      align-self: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column-end: 2;
      grid-column-start: 1;
      grid-row: 1 / 2;
      margin: 10px 0 auto;
    }

    &.box-two {
      align-self: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column-end: 2;
      grid-column-start: 1;
      grid-row: 2 / 3;
      margin: 0 auto;
    }

    &.box-three {
      align-self: center;
      grid-column-end: 2;
      grid-column-start: 1;
      grid-row: 3 / 4;
      margin: 0 auto;
    }
  }

  .image-description {
    width: 100%;
  }
}
