section {
  &.section-four {
    @extend %clear-fix;
    background-color: $seashell;
  }

  > div {
    &.container-section-four {
      @extend %container;
    }
  }
}

div {
  &.flex {
    display: flex;
  }
}

img {
  &.section-four-img {
    display: block;
    margin: 80px auto 0;
  }
}

div {
  &.section-title-four-left {
    @extend %section-title;
    margin-bottom: 20px;

    > div {
      &.section-underline-four {
        @extend %section-underline;
      }
    }
  }

  &.section-title-four-right {
    @extend %section-title;
    margin-bottom: 20px;

    > div {
      &.section-underline-four {
        @extend %section-underline;
      }
    }
  }

  > span {
    &.section-title__text-left {
      @extend %section-title__text;
    }

    &.section-title__text-right {
      @extend %section-title__text;
    }
  }
}

  // DROPDOWN //

div {
  &.compose-dropdown-one {
    @extend %dropdown;
  }

  &.compose-dropdown-two {
    @extend %dropdown;
  }

  &.compose-dropdown-three {
    @extend %dropdown;
  }

  > button {
    &.btn {
      background-color: $white;
      border: 1px solid $jungle-green;
      color: $alto;
      cursor: pointer;
      display: flex;
      font-family: 'Raleway', sans-serif;
      font-size: 25px;
      height: 55px;
      justify-content: space-between;
      line-height: 55px;
      margin: 0 auto;
      width: 90%;
    }

    &:focus {
      outline-color: $jungle-green;
    }
  }

  > ul {
    &.dropdown-menu {
      background-color: $white;
      border: 1px solid $alto;
      margin: 0 auto;
      padding: 1px 6px;
      position: relative;
      width: 90%;
    }

    &.dropdown-menu-one {
      z-index: 4;
    }

    &.dropdown-menu-two {
      z-index: 3;
    }

    &.dropdown-menu-three {
      z-index: 2;
    }

    > li {
      justify-content: flex-start;
      letter-spacing: 1px;
      line-height: 25px;
      list-style: none;

      > a {
        color: initial;
        text-decoration: none;
      }
    }
  }
}

div {
  &.compose-check-box1 {
    > input {
      &#trans,
      &#agreement {
        left: -9999px;
        position: absolute;

        &:checked + label {
          &.check::before {
            background: url('../images/approved.jpg') no-repeat center;
            border: 1px solid $jungle-green;
            box-shadow: 0 0 1px $genoa;
            box-sizing: border-box;
            content: '';
            display: block;
            height: 46px;
            justify-content: flex-end;
            position: absolute;
            width: 46px;
          }
        }
      }
    }

    > label {
      &.check {
        @extend %check-box-size;
        background: $white;
        border: 1px solid $jungle-green;
        display: block;
        position: relative;
      }
    }
  }
}

div {
  &.compose-check-box2 {
    color: $silver-chalice;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    margin-left: 30px;
  }
}

div {
  &.summary {
    background-color: $white;
    display: flex;
    flex-wrap: wrap;
    height: 205px;
    margin: 0 auto;
    padding: 5px;
    width: 90%;
  }

  > ul {
    &.summary-ul-one {
      background-color: $white;
      border-bottom: 1px solid $alto;
      border-right: 1px solid $alto;
      height: 145px;
      margin: 0;
      padding-left: 6px;
      padding-top: 6px;
      width: 70%;
    }

    &.summary-ul-two {
      background-color: $white;
      border-bottom: 1px solid $alto;
      height: 145px;
      margin: 0;
      padding-left: 6px;
      width: 30%;
    }

    > li {
      &#chair {
        @extend %summary-line-one;
        color: $jungle-green;
        font-size: 22px;

        > a {
          color: inherit;
        }
      }

      &#chair2 {
        @extend %summary-line-two;
        color: $jungle-green;
        font-size: 22px;

        > a {
          color: inherit;
        }
      }

      &#color {
        @extend %summary-line-one;
      }

      &#color2 {
        @extend %summary-line-two;
      }

      &#fabric {
        @extend %summary-line-one;
      }

      &#fabric2 {
        @extend %summary-line-two;
      }

      &#transport {
        @extend %summary-line-one;
      }

      &#transport2 {
        @extend %summary-line-two;
      }
    }
  }

  > div {
    &.summary-div-one {
      font-size: 25px;
      height: 40px;
      line-height: 40px;
      padding-left: 6px;
      width: 70%;
    }

    &.summary-div-two {
      font-size: 25px;
      height: 40px;
      line-height: 40px;
      padding-right: 6px;
      text-align: right;
      width: 30%;
    }
  }
}

input {
  &.summary-submit {
    @extend %input;
    background-color: $jungle-green;
    border-radius: 10px;
    color: $white;
    cursor: pointer;
    font-size: 30px;
    font-weight: 800;
    height: 64px;

    &:hover {
      background-color: $pink;
      border: 1px solid $pink;
      color: $jungle-green;
    }
  }
}

@media all and (min-width: 991px) {
  .section-title-four-right {
    text-align: end;
  }

  .section-title-four-left {
    text-align: start;
  }

  .grid-container-four {
    display: grid;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .compose-one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .flex {
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .transport {
    margin: 0 77px 47px 0;
  }

  .compose-two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .compose-three {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  input {
    &.summary-submit {
      margin: 50px auto 40px;
      width: 290px;
    }
  }
}

@media all and (max-width: 990px){
  .grid-container-four {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .compose-one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .section-underline-four {
    margin: 0 auto;
    width: 310px;
  }

  .compose-two {
    display: none;
  }

  .compose-three {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .section-title-four-left {
    text-align: center;
  }

  .section-title-four-right {
    text-align: center;
  }

  input {
    &.summary-submit {
      margin: 50px auto 20px;
      width: 285px;
    }
  }

  .flex {
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  input {
    &.transport {
      margin: 0 77px 47px 0;
    }
  }
}

@media all and (max-width: 736px) {
  .grid-container-four {
    display: grid;
    grid-template-columns: 1fr;
  }

  .compose-one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
  }

  .section-title-four-left {
    text-align: center;
  }

  .flex {
    align-items: center;
    justify-content: center;
  }

  input {
    &.transport {
      margin: 0 77px 47px 0;
    }
  }

  .compose-two {
    display: none;
  }

  .compose-three {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .section-title-four-right {
    text-align: center;
  }

  label {
    &.summary-submit {
      justify-content: center;
    }
  }

  input {
    &.summary-submit {
      margin: 20px 0;
      width: 250px;
    }
  }
}

@media all and (max-width: 480px) {
  .grid-container-four {
    display: grid;
    grid-template-columns: 1fr;
  }

  .compose-one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .compose-two {
    display: none;
  }

  label {
    &.summary-submit {
      justify-content: center;
    }
  }

  input {
    &.summary-submit {
      margin: 20px 0;
      width: 250px;
    }
  }
}
