section {
  &.section-one {
    @extend %gradient;
    @extend %clear-fix;
    display: grid;
  }

  > div {
    &.container {
      @extend %container;
      @extend %clear-fix;
    }

    > div {
      &.arrow-left {
        color: $jungle-green;
        cursor: pointer;
        font-size: 60px;
        justify-self: start;
        line-height: 60px;
      }

      &.arrow-right {
        color: $jungle-green;
        cursor: pointer;
        font-size: 60px;
        justify-self: end;
        line-height: 60px;
      }
    }
  }
}

div {
  &.chair {
    align-self: center;
    justify-self: center;
  }

  > ul {
    &.slider {
      display: flex;
      padding: 0;
    }

    > li {
      &.slider {
        display: none;
        justify-content: center;
      }

      &.visible {
        display: inline-block;
        margin: 0 auto;
      }

      > img {
        &.slide {
          max-width: 300px;
        }
      }
    }
  }
}

div {
  &.section-one-description {
    align-self: center;
    display: grid;
    grid-area: description;
    justify-self: center;
  }

  > div {
    &.headline {
      font-size: 36px;
      font-weight: 500;
      text-align: center;

      > span {
        &.headline-span {
          color: $jungle-green;
          font-weight: 700;
        }
      }
    }

    &.content {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      padding-top: 20px;
      text-align: center;
    }
  }
}

div {
  > label {
    display: flex;

    > input {
      &.section-one-button {
        align-self: center;
        background-color: $jungle-green;
        border: none;
        border-radius: 10px;
        color: $white;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 400;
        height: 44px;
        margin: 20px auto;
        text-align: center;
        width: 218px;
      }
    }
  }
}

@media all and (min-width: 737px) {
  .grid-container-one {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
  }

  .chair {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 350px;
    max-width: 100%;
  }

  div {
    &.section-one-description {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      width: 90%;
    }
  }

  .arrow-left {
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .arrow-right {
    align-self: center;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
}

@media all and (max-width: 736px) {
  .grid-container-one {
    grid-template-columns: 1fr 4fr 1fr;
  }

  .chair {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 350px;
    width: 100%;
  }

  div {
    &.section-one-description {
      grid-column-end: 4;
      grid-column-start: 1;
      grid-row: 2 / 3;
      max-width: 80%;
    }
  }

  .arrow-left {
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0 auto;
  }

  .arrow-right {
    align-self: center;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin: 0 auto;
  }
}

@media all and (max-width: 480px) {
  .grid-container-one {
    grid-template-columns: 1fr;
  }

  .chair {
    grid-column-end: 3;
    grid-column-start: 1;
    grid-row: 1 / 2;
    width: 100%;
  }

  div {
    .section-one-description {
      grid-column-end: 3;
      grid-column-start: 1;
      grid-row: 3 / 4;
      width: 80%;
    }
  }

  .arrow-left {
    display: none;
  }

  .arrow-right {
    display: none;
  }
}
