section {
  &.section-three {
    @extend %clear-fix;
    background-color: $seashell;
  }

  > div {
    &.container {
      @extend %container;
    }

    &.flex-direction {
      flex-direction: column;
    }

    > div {
      &.section-title-three {
        @extend %section-title;
      }

      > span {
        &.section-title__text {
          @extend %section-title__text;
        }
      }

      > div {
        &.section-underline {
          @extend %section-underline;
        }
      }

      &.layout-3 {
        @extend %clear-fix;
        margin-top: 70px;
      }
    }
  }
}

div {
  &.slider {
    display: none;
    justify-content: center;
  }

  &.visible {
    display: inline-block;
    margin: 0 auto;
  }

  &.arrow-left-price {
    align-self: center;
    color: $jungle-green;
    cursor: pointer;
    font-size: 60px;
    justify-self: center;
    line-height: 60px;
  }

  &.arrow-right-price {
    align-self: center;
    color: $jungle-green;
    cursor: pointer;
    font-size: 60px;
    justify-self: center;
    line-height: 60px;
  }

  &.sticker-one {
    @include sticker($silver, $alabaster, auto)
  }

  &.sticker-two {
    @include sticker($jungle-green, $jungle-green, auto);
  }

  &.sticker-three {
    @include sticker($silver, $alabaster, auto)
  }

  > div {
    &.circle-small-one {
      @extend %circle-small;
      background-color: $silver;
    }

    &.circle-small-two {
      @extend %circle-small;
      background-color: $white;
    }
  }

  > div {
    &.circle-big-one {
      @extend %circle-big;
      background-color: $white;
      border: 2px solid $silver;
    }

    &.circle-big-two {
      @extend %circle-big;
      background-color: $jungle-green;
    }
  }

  > div {
    &.plan-one {
      @extend %plan;
      color: $jungle-green;
    }

    &.plan-two {
      @extend %plan;
      color: $white;
    }
  }

  > div {
    &.circle-price-one {
      @extend %circle-price;
      border: 2px solid $silver;
      color: $silver;
    }

    &.circle-price-two {
      @extend %circle-price;
      color: $jungle-green;
    }

    > p {
      &.circle-one-price-value {
        @extend %circle-price-value;
      }

      &.circle-two-price-value {
        @extend %circle-price-value;
      }

      > sup {
        @extend %sup;
      }
    }

    > span {
      &.circle-price-curency {
        @extend %circle-price-curency;
      }

      &.circle-two-price-curency {
        @extend %circle-price-curency;
      }
    }
  }

  > div {
    &.description-one {
      @extend %description;
      background-color: $mercury;
      color: $gray;
    }
  }

  > div {
    &.description-two {
      @extend %description;
      background-color: $seashell;
      color: $gray;
    }
  }

  > div {
    &.description-three {
      @extend %description;
      background-color: $white;
      color: $gray;
    }
  }

  > div {
    &.description-four {
      @extend %description;
      background-color: $seashell;
      color: $gray;
    }
  }

  > label {
    > input {
      &.btn-join-one {
        @extend %btn-join;
        background-color: $jungle-green;
        color: $white;
      }

      &.btn-join-two {
        @extend %btn-join;
        background-color: $white;
        color: $jungle-green;
      }
    }
  }
}

@media all and (min-width: 991px) {
  .grid-container-three {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  div {
    &.sticker-one {
      display: initial;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin: 0 auto;
    }

    &.sticker-two {
      display: initial;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin: 0 auto;
    }

    &.sticker-three {
      display: initial;
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      margin: 0 auto;
    }
  }

  .arrow-left-price {
    display: none;
  }

  .arrow-right-price {
    display: none;
  }
}

@media all and (max-width: 990px){
  .section-title-three {
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .grid-container-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }

  .sticker-one {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .sticker-two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .sticker-three {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .arrow-left-price {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .arrow-right-price {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

@media all and (max-width: 736px) {
  .section-title-three {
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .grid-container-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }

  .sticker-one {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .sticker-two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .sticker-three {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .arrow-left-price {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .arrow-right-price {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

@media all and (max-width: 480px) {
  .section-title-three {
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .grid-container-three {
    display: grid;
    grid-template-columns: 1fr;
  }

  div {
    &.sticker-one {
      display: block;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &.sticker-two {
      display: block;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin: 60px auto;
    }

    &.sticker-three {
      display: block;
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
  }

  .arrow-left-price {
    display: none;
  }

  .arrow-right-price {
    display: none;
  }
}
