section {
  &.section-five {
    @extend %clear-fix;
  }

  > div {
    &.container {
      @extend %container;
    }

    > div {
      &.section-title-five {
        @extend %section-title;
        margin-bottom: 20px;
      }

      > span {
        &.section-title__text {
          @extend %section-title__text;
        }
      }

      > div {
        &.section-underline {
          @extend %section-underline;
          width: 310px;
        }
      }
    }
  }
}

div {
  &.form-group {
    margin-bottom: 1em;
  }

  input {
    &.input-section-five {
      @extend %input;
      @extend %placeholder;
      padding: 10px;
      width: 100%;

      &:focus {
        outline-color: $jungle-green;
      }
    }
  }

  textarea {
    @extend %placeholder;
    width: 100%;

    @include textarea {
      height: 194px;
      resize: none;
    }

    &:focus {
      outline-color: $jungle-green;
    }
  }
}

div {
  &.agreement {
    @include size(60px, 285px);
    color: $silver-chalice;
    font-size: 19px;
    margin-bottom: 1em;
    margin-left: 7px;
    padding-left: 2px;
    padding-top: 3px;
  }
}

input {
  &.submit {
    @extend %input;
    background-color: $jungle-green;
    border-radius: 10px;
    color: $white;
    cursor: pointer;
    font-weight: 800;
    height: 64px;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      background-color: $pink;
      border: 1px solid $pink;
      color: $jungle-green;
    }
  }
}

.small {
  height: 39px;
  line-height: 55px;
  margin: 8px 0;
  width: 39px;
}

@media all and (min-width: 991px) {
  .grid-container-five {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section-title-five {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: start;
  }

  .layout-2 {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    justify-items: center;
  }

  .form-left {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    width: 600px;
  }

  .section-five-img {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-bottom: 20px;
    margin-top: -20px;
    padding-left: 60px;
  }

  .form-right {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-content: center;
    padding-left: 60px;
    width: 400px;
  }

  div {
    &.check-box1 {
      flex-grow: 1;
    }

    &.check-box2 {
      flex-grow: 1;
      padding-left: 10px;
      width: 285px;
    }
  }

  label {
    flex-grow: 2;
  }

  input {
    &.submit {
      font-size: 30px;
      margin: 0 auto 16px 4px;
      width: 100%;
    }
  }

  .input-section-five {
    font-size: 35px;
  }
}

@media all and (max-width: 990px) {
  .grid-container-five {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section-title-five {
    display: block;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    text-align: center;
  }

  .section-five-img {
    display: none;
  }

  .layout-2 {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-items: center;
  }

  .form-left {
    grid-column: 1 / 2;
    width: 90%;
  }

  .form-right {
    align-self: center;
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    justify-content: center;
    margin: 0 auto;
  }

  div {
    &.check-box1 {
      margin: 40px auto;
      order: 2;
    }

    &.check-box2 {
      margin: 0 auto -20px;
      order: 1;
      text-align: center;
    }
  }

  label {
    &.submit {
      order: 3;
    }
  }

  input {
    &.submit {
      font-size: 30px;
      width: 285px;
    }
  }

  .input-section-five {
    font-size: 35px;
  }
}

@media all and (max-width: 736px) {
  .grid-container-five {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section-title-five {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .section-five-img {
    display: none;
  }

  .layout-2 {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;

  }

  .form-left {
    grid-column: 1 / 2;
    justify-self: center;
    width: 90%;
  }

  .form-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: 1 / 2;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
  }

  div {
    &.check-box1 {
      margin: 5px;
      order: 1;
    }

    &.check-box2 {
      margin: 5px;
      order: 2;
    }
  }

  input {
    &.submit {
      font-size: 30px;
      width: 250px;
    }
  }

  .input-section-five {
    font-size: 20px;
  }
}
