section {
  &.section-one {
    @extend %gradient;
    @extend %clear-fix;
    display: grid;
  }
  > div {
    &.container {
      @extend %container;
      @extend %clear-fix;
    }
    > div {
      &.arrow-left {
        color: #24BA9F;
        font-size: 60px;
        line-height: 60px;
        cursor: pointer;
        justify-self:start;
      }
      &.arrow-right {
        color: #24BA9F;
        font-size: 60px;
        line-height: 60px;
        cursor: pointer;
        justify-self:end;
      }
    }
  }
}

div {
  &.chair {
    justify-self: center;
    align-self: center;
  }
  > ul {
    &.slider {
      padding: 0;
      display: flex;
    }
    > li {
      &.slider {
        display: none;
        justify-content: center;
      }
      &.visible {
        display: inline-block;
        margin: 0 auto;
      }
      > img {
        &.slide {
          max-width: 300px;
        }
      }
    }
  }
}

div {
  &.section-one-description {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-area: description;
  }
  > div {
    &.headline {
      font-size: 36px;
      text-align: center;
      font-weight: 500;
      > span {
        &.headline-span {
          color: #24BA9F;
          font-weight: 700;
        }
      }
    }
    &.content {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      padding-top: 20px;
    }
  }
}

div {
  &.section-one-description {}
  >label {
    display: flex;
    > input {
      &.section-one-button {
        width: 218px;
        height: 44px;
        background-color: #24BA9F;
        text-align: center;
        border-radius: 10px;
        font-size: 20px;
        align-self: center;
        margin: 20px auto 20px auto;
      }
    }
  }
}

@media all and (min-width: 737px) {

  div.grid-container-one {
    grid-template-columns: 1fr 5fr 5fr 1fr;
    display: grid;
  }

  div.chair {
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: 100%;
    height: 350px;
  }

  div.section-one-description {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 90%;
  }

  div.arrow-left {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
  }

  div.arrow-right {
    grid-column: 4/5;
    grid-row: 1/2;
    align-self: center;
  }
}

@media all and (max-width: 736px) {

  div.grid-container-one {
    grid-template-columns: 1fr 4fr 1fr;
  }

  div.chair {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 350px;
  }

  div.section-one-description {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2/3;
    max-width: 80%;
  }

  div.arrow-left {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    margin: 0 auto;
  }

  div.arrow-right {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    margin: 0 auto;
  }
}

@media all and (max-width: 480px) {

  div.grid-container-one {
    grid-template-columns: 1fr;
  }

  div.chair {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1/2;
    width: 100%;
  }

  div.section-one-description {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3/4;
    width: 80%;
  }

  div.arrow-left {
    display: none;
  }

  div.arrow-right {
    display: none;
  }
}
