
section{
  &.section-two {
    @extend %clear-fix;
  }
  > div {
    &.container {
      @extend %clear-fix;
      @extend %container;
    }
  }
}

div {
  &.box-one{
    @include box(box1);
  }
  &.box-two {
    @include box(box2);
  }
  > div {
    &.image-description {
      @extend %image-description;
    }
    > h3 {
      margin: 0;
    }
    > div {
      &.section-one-underline-one{
        @extend %section-one-underline;
      }
    }
  }
}

div {
  &.box-three {
    border: 1px solid #C0C0C0;
    //height: 250px;
    padding: 25px;
    line-height: 1.4;
    //margin-top: 20px;
    font-weight: 200;
    width: 100%;
    font-size: 13px;
  }
  > div {
    &.section-one-underline-two {
      @extend %section-one-underline;
      margin: 0 0 20px 0;
    }
  }
}


@media all and (max-width: 1690px) {

  div.grid-container-two{
    grid-template-columns: 320px 320px 320px;
    grid-column-gap: 20px;
    //grid-row-gap: 20px;
  }
  div.box-one{
    grid-column: 1/2;
    //grid-row: 1/2;
    align-self: center;
    margin: 20px 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    //margin-bottom: 40px;
  }
  div.box-two{
    grid-column: 2/3;
    //grid-row: 1/2;
    align-self: center;
    margin: 20px 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  div.box-three{
    grid-column: 3/4;
    //grid-column-end: 4;
    //grid-row: 2/3;
    align-self: center;
    margin: 20px auto 40px auto;
  }
  div.image-description{
    width: 320px;
    margin: 0 auto;
  }
}


@media all and (max-width: 980px){

  div.grid-container-two{
    grid-template-columns: 1fr 320px 320px 1fr;
    grid-column-gap: 10px ;
    grid-row-gap: 10px;
  }
  div.box-one{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    margin: 10px 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  div.box-two{
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    margin: 10px 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  div.box-three{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2/3;
    align-self: center;
    margin: 0 auto 10px;
  }
  div.image-description{
    width: 329px;
    margin: 0 auto;
  }
}




@media all and (max-width: 736px){

  div.grid-container-two{
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
  div.box-one{
    align-self: center;
    margin: 10px 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1/2;
  }
  div.box-two{
    align-self: center;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2/3;
  }
  div.box-three{
    align-self: center;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 3/4;
  }
  div.image-description{
    width: 100%;
    //margin: 0 auto;
  }


}

@media all and (max-width: 480px) {

div.grid-container-two{
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
  div.box-one{
    align-self: center;
    margin: 10px 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1/2;
  }
  div.box-two{
    align-self: center;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2/3;
  }
  div.box-three{
    align-self: center;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 3/4;
  }
  div.image-description{
    width: 100%;
    //margin: 0 auto;
  }


}

