$silver-chalice: #a9a9a9;
$jungle-green: #24ba9f;
$alto: #d3d3d3;
$white: #fff;
$white-40: rgba(255, 255, 255, .4);
$alabaster: #fafafa;
$alabaster-gradient: rgba(250, 250, 250, 1);
$mischka: #d0cfd7;
$mischka-gradient: rgba(208, 207, 215, 1);
$concrete-gradient: rgba(243, 243, 243, 1);
$black: #000;
$silver: #c0c0c0;
$seashell: #f1f1f1;
$mercury: #e4e4e4;
$gray: #848484;
$pink: #ffc0cb;
$genoa: #156f5f;
