%clear-fix {
  &::before,
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

%container {
  display: grid;
  margin: 0 auto;
  max-width: 1000px;
}

%section-title {
  color: initial;
  margin-top: 40px;
}

%section-underline {
  background-color: $jungle-green;
  height: 7px;
  margin-top: 5px;
}

%input {
  border: 1px solid $jungle-green;
  color: $jungle-green;
  font-family: 'Raleway', sans-serif;
  height: 66px;
  margin-top: auto;
  padding: 10px;
}

@mixin textarea {
  @extend %input;
  @content;
}

@mixin footer-content($j-content, $p-direction, $p-value, $width) {
  justify-content: $j-content;
  padding-#{$p-direction}: $p-value;
  width: $width;
  @content;
}

%placeholder {
  &::-webkit-input-placeholder { // WebKit, Blink, Edge //
    color: $alto;
  }
  &:-moz-placeholder { // Mozilla Firefox 4 to 18 //
    color: $alto;
    opacity: 1;
  }
  &::-moz-placeholder { // Mozilla Firefox 19+ //
    color: $alto;
    opacity: 1;
  }
  &:-ms-input-placeholder { // Internet Explorer 10-11 //
    color: $alto;
  }
  &::-ms-input-placeholder { // Microsoft Edge //
    color: $alto;
  }
}

%description {
  font-size: 25px;
  height: 44px;
  left: 0;
  line-height: 44px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 0;
  top: 250px;
}

@mixin size($height, $width) {
  height: $height;
  width: $width;
}

%check-box-size {
  height: 48px;
  justify-content: flex-start;
  width: 48px;
}

%sticker {
  height: 520px;
  justify-content: flex-start;
  padding-left: 1px;
  position: relative;
  text-align: center;
  width: 300px;
}

%circle-small {
  border-radius: 50%;
  height: 24px;
  left: 138px;
  position: absolute;
  top: -20px;
  width: 24px;
  z-index: 2;
}

%circle-big {
  border-radius: 50%;
  height: 56px;
  left: 122px;
  position: absolute;
  top: -36px;
  width: 56px;
  z-index: 1;
}

%plan {
  font-size: 25px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: 20px;
}

%circle-price {
  background-color: $white;
  border-radius: 50%;
  height: 126px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: 100px;
  width: 126px;
  z-index: 2;
}

%circle-price-value {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 25px 0 5px;
  padding-left: 10px;
  vertical-align: middle;
  word-spacing: -6px;
}

%sup {
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: -8px;
  vertical-align: super;
}

%circle-price-curency {
  font-size: 17px;
  font-weight: bold;
}

%btn-join {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  left: 0;
  line-height: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: 450px;
  width: 130px;
}

%box {
  background-size: contain;
  font-size: 13px;
  width: 100%;
}

@mixin box($box-number) {
  background-image: url('../images/#{$box-number}_img.jpg');
  @extend %box;
}

%section-one-underline {
  background-color: $jungle-green;
  height: 7px;
  width: 130px;
}

%image-description {
  background: $white-40;
  margin-top: 145px;
  padding: 14px 0 22px 14px;
  vertical-align: middle;
}

%gradient {
  background: $alabaster-gradient;
  background: -moz-linear-gradient(180deg, $alabaster-gradient 0%, $concrete-gradient 67%, $mischka-gradient 100%);
  background: -webkit-linear-gradient(180deg, $alabaster-gradient 0%, $concrete-gradient 67%, $mischka-gradient 100%);
  background: linear-gradient(180deg, $alabaster-gradient 0%, $concrete-gradient 67%, $mischka-gradient 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafafa",endColorstr="#d0cfd7",GradientType=1);
}

.invisible {
  visibility: hidden;
}

%section-title__text {
  font-size: 20px;
  font-weight: bold;
}

@mixin sticker($border-color, $background-color, $margin) {
  background-color: $background-color;
  border: 2px solid $border-color;
  margin: $margin;
  @extend %sticker;
}

%form {
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
}

%summary-line-one {
  font-size: 18px;
  height: 25px;
  line-height: 25px;
  padding-left: 5px;
}

%summary-line-two {
  font-size: 18px;
  height: 25px;
  line-height: 25px;
  padding-right: 6px;
  text-align: right;
}

%dropdown {
  height: 75px;
  position: relative;
}
